html {
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    margin: 0;
    background-color: #8800be;
  }
  
  header {
    background-color: #a70af6;
    color: white;
    padding: 3rem 2rem;
  }
  
  header h1 {
    font-size: 4rem;
    text-align: center;
  }
  
  .container {
    width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    justify-content: center;
  }
  
  section article {
    transition: box-shadow 0.3s ease, transform 0.1s ease;
    background-color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
  }
  
  section article:hover,
  section article:active {
    box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0, 0.3);
    transform: translateY(0.1rem);
  }
  
  section article h2,
  section article p {
    margin: 1rem;
  }
  
  footer {
    background-color: #2d3047;
    padding: 3rem;
    color: white;
  }
  
  footer section {
    text-align: center;
  }
  
  footer p {
    margin: 0;
    text-align: center;
  }
  
  footer a {
    text-align: center;
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
  }
  
  footer a:hover {
    text-align: center;
    color: rgb(107, 6, 138);
  }