html {
    font-family: "Montserrat", sans-serif;
  }
  
  .container-logo {
    display: flex;
    justify-content: center;
  }
  
  .container-logo img {
    width: 500px;
    margin: auto;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  header {
    text-align: center;
  }
  
  .container-logo img {
    width: 300px;
  }
  
  main {
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  .container-logo,
  .container-reloj-aesterik {
    margin-bottom: 20px;
  }
  
  article {
    transition: box-shadow 0.3s ease, transform 0.1s ease;
    background-color: #ac43dd;
    padding: 20px;
    border-radius: 10px;
  }
  
  article:hover,
  article:active {
    box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0, 0.3);
    transform: translateY(0.1rem);
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  details {
    margin-top: 10px;
  }
  
  details summary {
    cursor: pointer;
    font-weight: bold;
  }
  
  input[type="button"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  input[type="button"]:hover {
    background-color: #db2323;
  }
  
  footer {
    text-align: center;
    padding: 20px 0;
    background-color: #ad55f5;
    color: black;
  }
  footer a {
    color: black;
  }
  
  footer a:hover {
    text-align: center;
    color: #c446cf;
  }